<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--配置处理器映射器 将Bean的name作为url进行查找，需要配置Handler时指定Beanname就是url-->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>
    <!--配置适配器 只要编写了实现了Controller接口的控制器，适配器就会执行Controller的具体方法-->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"></bean>
    <!--根据handler方法返回的modelandview中的视图的具体位置，加载相应的界面并绑定反馈数据-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"></bean>

    <bean name="/fruits.action" class="controller.FruitsController"></bean>
</beans>